*.pyc
*.pyo
*.jpg
*.png
*.gif
*.log
*.swp
*.sql
*.db
.idea/
github-public.rtf
manage.py
fabfile.py
settings.py
local_settings.py
forum_settings.py
urls.py
docs/
.idea/
log/
comps/
migrations/
site_media/images/
static/images/

