.container_12 {background:none; margin: 0; width: 960px;}

/*.gutter {padding:0 30px;}*/

#hero img{border: 0; margin: 34px 0 12px 0;}

#grid-left {width: 0; margin: 0; padding: 0; display:none;}

#grid-middle {min-height:100%; width:960px; margin: 0; padding: 0 0 0 0;}
#grid-middle img {max-width:400px;}
#grid-middle ul {list-style:disc;}
#grid-middle ol {list-style:decimal;}
#grid-middle blockquote {border-left: 1px solid #333; margin-left: 30px;}
#grid-middle blockquote p {margin-left: 10px; line-height: 100%;}

#grid-right{width: 0; margin: 0; padding: 0; display:none;}
.gutter{width:960px; margin: 0 0 0 0;}
.gutter h1{font-weight: normal; color: #444; font-size: 150%; margin-bottom: 27px;}
.gutter p {float: right; width:450px;}

.form {width:455px; margin: 0 0 27px 0;}
#lowerhalf{display:none; height:0; width:0; margin: 0; padding: 0;}
